.element__like-btn {
  background-image: url("../../../images/like-btn.svg");
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  height: 19px;
  width: 22px;
}
