.profile__add-btn {
  background-image: url("../../../images/add-btn.svg");
  border: 1px solid #FFFFFF;
  height: 50px;
  width: 150px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 680px) {
  .profile__add-btn {
    width: 100%;
  }
}
